{% extends "layout.html" %}
{% block content %}
<div class="row align-items-center">
    <div class="col-md-6">
        <h1>Donate Blood, Save Lives</h1>
        <p>Join our community to help people in need. Be a hero by donating blood today!</p>
        <a href="/signup" class="btn btn-danger">Become a Donor</a>
    </div>
    <div class="col-md-6">
        <img src="{{ url_for('static', filename='images/hero.jpg') }}" class="img-fluid rounded shadow" alt="Donate Blood">
    </div>
</div>
{% endblock %}
